<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="learn javascript by www.liaoxuefeng.com">
  <title>Mr Zheng</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <script src="/static/js/vue.js"></script>
  <script src="/static/js/axios.min.js"></script>
</head>

<body>

  <div id="app" style="padding-top: 30px;" class="container">
    <div style="overflow: scroll;height: 90vh;" class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> TODO LIST</h3>
          </div>
          <div class="panel-body">
            <div>
              <p v-if="loading">Loading...</p>
              <ol v-if="todos.length">
                <li v-for="item in todos">
                  <dl>
                    <dt contenteditable="true" v-on:blur="update(item, 'name', $event)">{{ item.name }}
                    </dt>
                    <dd contenteditable="true" v-on:blur="update(item, 'description', $event)">
                      {{ item.description }}</dd>
                    <dd><a href="#0" v-on:click="remove(item)">Delete</a></dd>
                  </dl>
                </li>
              </ol>
              <h3 v-else>暂未添加任务</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span> Add New Todo</h3>
          </div>
          <div class="panel-body">
            <form id="vmAdd" action="#0" v-on:submit.prevent="submit">
              <div class="form-group">
                <label>Name:</label>
                <input type="text" v-model="name" class="form-control" placeholder="Enter name">
              </div>
              <div class="form-group">
                <label>Description:</label>
                <input type="text" v-model="description" class="form-control" placeholder="Enter description">
              </div>
              <button type="submit" class="btn btn-default">Add</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div v-on:click="handleDownload">下载</div>

    <footer style="text-align: center;width: 100%;">
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602011074"
        style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <img src="https://img.alicdn.com/tfs/TB1QhYprKT2gK0jSZFvXXXnFXXa-20-20.png" style="float:left;">
        <span
          style="display:inline-block;text-decoration:none;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;"
          data-spm-anchor-id="a2700.8293689.0.i3.500267afuYYW0Z">浙公网安备 33010602011074号</span>
      </a>
      <a style="color: #999;margin-left: 10px;text-decoration:none;"
        href="http://www.beian.miit.gov.cn/">浙ICP备20021091号</a>
    </footer>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>

    function showError(resp) {
      console.log('Error: ' + resp);
    }

    (function (root, factory) {
      //  兼容各种模块写法，在全局对象上挂载download方法
      if (typeof define === 'function' && define.amd) {
        // AMD. Register as an anonymous module.
        //	针对AMD规范，注册一个匿名模块
        define([], factory);
      } else if (typeof exports === 'object') {
        //	针对Node,环境，不支持严格模式
        // Node. Does not work with strict CommonJS, but
        // only CommonJS-like environments that support module.exports,
        // like Node.
        module.exports = factory();
      } else {
        //	浏览器全局变量支持
        // Browser globals (root is window)
        root.download = factory();
      }
    }(this, function () {
      //  第一个参数是数据，第二个参数是文件名，第三个参数是mime类型
      //  下载服务器上的文件直接第一个参数传入url即可，后两个不用传
      return function download(data, strFileName, strMimeType) {
        //  这里的脚本仅支持客户端
        var self = window, // this script is only for browsers anyway...
          // 默认的mime类型
          defaultMime = "application/octet-stream", // this default mime also triggers iframe downloads
          mimeType = strMimeType || defaultMime,
          payload = data,
          //  如果只传入第一个参数，则把其解析为下载url
          url = !strFileName && !strMimeType && payload,
          //  创建a标签,方便下载
          anchor = document.createElement("a"),
          toString = function (a) { return String(a); },
          //  根据浏览器兼容性，提取Blob
          myBlob = (self.Blob || self.MozBlob || self.WebKitBlob || toString),
          fileName = strFileName || "download",
          blob,
          reader;
        myBlob = myBlob.call ? myBlob.bind(self) : Blob;

        //  调换参数的顺序，允许download.bind(true, "text/xml", "export.xml")这种写法
        if (String(this) === "true") { //reverse arguments, allowing download.bind(true, "text/xml", "export.xml") to act as a callback
          payload = [payload, mimeType];
          mimeType = payload[0];
          payload = payload[1];
        }

        //  根据传入的url这一个参数下载文件（必须是同源的，因为走的是XMLHttpRequest）
        if (url && url.length < 2048) { // if no filename and no mime, assume a url was passed as the only argument
          //  解析出文件名
          fileName = url.split("/").pop().split("?")[0];
          //  设置a标签的href
          anchor.href = url; // assign href prop to temp anchor
          //  避免链接不可用
          if (anchor.href.indexOf(url) !== -1) { // if the browser determines that it's a potentially valid url path:
            // 构造一个XMLHttpRequest请求
            var ajax = new XMLHttpRequest();
            //  设置get方法
            ajax.open("GET", url, true);
            //  设置响应类型为blob,避免浏览器直接解析出来并展示
            ajax.responseType = 'blob';
            //  设置回调
            ajax.onload = function (e) {
              // 再次调用自身，相当于递归，把xhr返回的blob数据生成对应的文件
              download(e.target.response, fileName, defaultMime);
            };
            //  发送ajax请求
            setTimeout(function () { ajax.send(); }, 0); // allows setting custom ajax headers using the return:
            return ajax;
          } // end if valid url?
        } // end if url?


        //go ahead and download dataURLs right away
        //	如果是dataUrl,则生成文件
        if (/^data\:[\w+\-]+\/[\w+\-]+[,;]/.test(payload)) {
          //	如果满足条件(大于2m,且myBlob !== toString)，直接通过dataUrlToBlob生成文件
          if (payload.length > (1024 * 1024 * 1.999) && myBlob !== toString) {
            payload = dataUrlToBlob(payload);
            mimeType = payload.type || defaultMime;
          } else {
            //	如果是ie,走navigator.msSaveBlob
            return navigator.msSaveBlob ?  // IE10 can't do a[download], only Blobs:
              navigator.msSaveBlob(dataUrlToBlob(payload), fileName) :
              //	否则走saver方法
              saver(payload); // everyone else can save dataURLs un-processed
          }

        }//end if dataURL passed?

        blob = payload instanceof myBlob ?
          payload :
          new myBlob([payload], { type: mimeType });

        //	根据传入的dataurl,通过myBlob生成文件
        function dataUrlToBlob(strUrl) {
          var parts = strUrl.split(/[:;,]/),
            type = parts[1],
            decoder = parts[2] == "base64" ? atob : decodeURIComponent,
            binData = decoder(parts.pop()),
            mx = binData.length,
            i = 0,
            uiArr = new Uint8Array(mx);

          for (i; i < mx; ++i) uiArr[i] = binData.charCodeAt(i);

          return new myBlob([uiArr], { type: type });
        }

        //	winMode 是否是在window上调用
        function saver(url, winMode) {
          //	如果支持download标签，通过a标签的download来下载
          if ('download' in anchor) { //html5 A[download]
            anchor.href = url;
            anchor.setAttribute("download", fileName);
            anchor.className = "download-js-link";
            anchor.innerHTML = "downloading...";
            anchor.style.display = "none";
            document.body.appendChild(anchor);
            setTimeout(function () {
              //	模拟点击下载
              anchor.click();
              document.body.removeChild(anchor);
              //	如果在window下，还需要解除url跟文件的链接
              if (winMode === true) { setTimeout(function () { self.URL.revokeObjectURL(anchor.href); }, 250); }
            }, 66);
            return true;
          }

          // handle non-a[download] safari as best we can:
          //	针对不支持download的safari浏览器，走window.open的降级操作，优化体验
          if (/(Version)\/(\d+)\.(\d+)(?:\.(\d+))?.*Safari\//.test(navigator.userAgent)) {
            url = url.replace(/^data:([\w\/\-\+]+)/, defaultMime);
            if (!window.open(url)) { // popup blocked, offer direct download:
              if (confirm("Displaying New Document\n\nUse Save As... to download, then click back to return to this page.")) { location.href = url; }
            }
            return true;
          }

          //do iframe dataURL download (old ch+FF):
          //	针对老的chrome或者firefox浏览器，创建iframe，通过设置iframe的url来达成下载的目的
          var f = document.createElement("iframe");
          document.body.appendChild(f);

          if (!winMode) { // force a mime that will download:
            url = "data:" + url.replace(/^data:([\w\/\-\+]+)/, defaultMime);
          }
          f.src = url;
          //	移除工具节点
          setTimeout(function () { document.body.removeChild(f); }, 333);

        }//end saver



        //	针对ie10+ 走浏览器自带的msSaveBlob
        if (navigator.msSaveBlob) { // IE10+ : (has Blob, but not a[download] or URL)
          return navigator.msSaveBlob(blob, fileName);
        }

        //	如果全局对象下支持URL方法
        if (self.URL) { // simple fast and modern way using Blob and URL:
          //	根据blob创建指向文件的ObjectURL
          saver(self.URL.createObjectURL(blob), true);
        } else {
          // handle non-Blob()+non-URL browsers:
          //	针对不支持Blob和URL的浏览器，通过给saver传入dataUrl来保存文件
          if (typeof blob === "string" || blob.constructor === toString) {
            try {
              return saver("data:" + mimeType + ";base64," + self.btoa(blob));
            } catch (y) {
              return saver("data:" + mimeType + "," + encodeURIComponent(blob));
            }
          }

          // Blob but not URL support:
          //	支持Blob但是不支持URL方法的浏览器，通过构造文件阅读器来保存文件
          reader = new FileReader();
          reader.onload = function (e) {
            saver(this.result);
          };
          reader.readAsDataURL(blob);
        }
        return true;
      };
    }))

    axios.interceptors.response.use((response) => {
      const res = response.data
      return res;
    });

    var vm = new Vue({
      el: '#app',
      http: {
        timeout: 5000
      },
      data: {
        name: '',
        description: '',
        loading: false,
        todos: []
      },
      created: function () {
        this.init();
      },
      methods: {
        submit: function () {
          vm.create({ name: this.$data.name, description: this.$data.description });
        },
        init: function () {
          var that = this;
          that.loading = true;
          axios({
            url: '/api/todos',
            method: 'get',
            params: { pageIndex: 1, pageSize: 10 }
          }).then((res) => {
            that.loading = false;
            that.todos = res.todos;
          }).catch(function (res) {
            that.loading = false;
            showError(res);
          });
        },
        create: function (todo) {
          axios({
            url: '/api/todos',
            method: 'post',
            data: todo
          }).then((res) => {
            this.name = '';
            this.description = '';
            this.todos.push(res)
          }).catch(function (res) {
            showError(res);
          });
        },
        update: function (todo, prop, e) {
          let { name, description } = todo;
          var data = { name, description };
          let t = {};
          data[prop] = e.target.innerText;
          if (data[prop] === todo[prop]) {
            return;
          }
          axios({
            url: '/api/todos/' + todo.id,
            method: 'put',
            data,
          }).then((res) => {
            todo.name = res.name;
            todo.description = res.description;
          }).catch(function (res) {
            e.target.innerText = todo[prop];
            showError(res);
          });
        },
        remove: function (todo) {
          axios({
            url: '/api/todos/' + todo.id,
            method: 'delete',
          }).then((res) => {
            vm.init();
          }).catch(function (res) {
            showError(res);
          });
        },

        handleDownload () {
          download('https://cdn-data-prod.ibzi.top/data/contract/3315_6846.pdf')
        }
      }
    });
    window.vm = vm;

  </script>

  <script>


  </script>
</body>



</html>