<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="learn javascript by www.liaoxuefeng.com">
  <title>Mr Zheng</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <script src="/static/js/vue.js"></script>
  <script src="/static/js/axios.min.js"></script>
</head>

<body>

  <div id="app" style="padding-top: 30px;" class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> TODO LIST</h3>
          </div>
          <div class="panel-body">
            <div>
              <p v-if="loading">Loading...</p>
              <ol v-if="todos.length">
                <li v-for="item in todos">
                  <dl>
                    <dt contenteditable="true" v-on:blur="update(item, 'name', $event)">{{ item.name }}
                    </dt>
                    <dd contenteditable="true" v-on:blur="update(item, 'description', $event)">
                      {{ item.description }}</dd>
                    <dd><a href="#0" v-on:click="remove(item)">Delete</a></dd>
                  </dl>
                </li>
              </ol>
              <h3 v-else>暂未添加任务</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span> Add New Todo</h3>
          </div>
          <div class="panel-body">
            <form id="vmAdd" action="#0" v-on:submit.prevent="submit">
              <div class="form-group">
                <label>Name:</label>
                <input type="text" v-model="name" class="form-control" placeholder="Enter name">
              </div>
              <div class="form-group">
                <label>Description:</label>
                <input type="text" v-model="description" class="form-control" placeholder="Enter description">
              </div>
              <button type="submit" class="btn btn-default">Add</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <footer style="text-align: center;position: fixed;bottom: 20px;width: 100%;">
      <a style="color: #999;" href="http://www.beian.miit.gov.cn/">浙ICP备20021091号</a>
    </footer>
  </div>

  <script>

    function showError(resp) {
      console.log('Error: ' + resp);
    }

    axios.interceptors.response.use((response) => {
      const res = response.data
      return res;
    });

    var vm = new Vue({
      el: '#app',
      http: {
        timeout: 5000
      },
      data: {
        name: '',
        description: '',
        loading: false,
        todos: []
      },
      created: function () {
        this.init();
      },
      methods: {
        submit: function () {
          vm.create({ name: this.$data.name, description: this.$data.description });
        },
        init: function () {
          var that = this;
          that.loading = true;
          axios({
            url: '/api/todos',
            method: 'get',
            params: { pageIndex: 1, pageSize: 10 }
          }).then((res) => {
            that.loading = false;
            that.todos = res.todos;
          }).catch(function (res) {
            that.loading = false;
            showError(res);
          });
        },
        create: function (todo) {
          axios({
            url: '/api/todos',
            method: 'post',
            data: todo
          }).then((res) => {
            this.name = '';
            this.description = '';
            this.todos.push(res)
          }).catch(function (res) {
            showError(res);
          });
        },
        update: function (todo, prop, e) {
          let { name, description } = todo;
          var data = { name, description };
          let t = {};
          data[prop] = e.target.innerText;
          if (data[prop] === todo[prop]) {
            return;
          }
          axios({
            url: '/api/todos/' + todo.id,
            method: 'put',
            data,
          }).then((res) => {
            todo.name = res.name;
            todo.description = res.description;
          }).catch(function (res) {
            e.target.innerText = todo[prop];
            showError(res);
          });
        },
        remove: function (todo) {
          axios({
            url: '/api/todos/' + todo.id,
            method: 'delete',
          }).then((res) => {
            vm.init();
          }).catch(function (res) {
            showError(res);
          });
        }
      }
    });
    window.vm = vm;

  </script>
</body>

</html>